body {
    background-image: url(https://th.bing.com/th?id=OIF.%2fQZ3OnOv0MzwudIT9M1rKg&w=226&h=180&c=7&r=0&o=5&dpr=2&pid=1.7);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    backdrop-filter: blur(5px);
}

h1 {
    color: red;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-align: center;
}

p {
    color: white;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: azure;
    text-align: center;
}

centerlist {
    color: azure;
    text-align: center;
}

ul {
    display: inline-block;
}